<!DOCTYPE html>
<html lang="en">
<head>
  <title>Newman</title>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/styles/md-data-table.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="scripts/md-data-table/md-data-table.js"></script>
  <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="bower_components/ngDraggable/ngDraggable.js"></script>
  <script src="bower_components/electron-d3/dist/electron-d3.min.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
  <script src="scripts/main.js" defer></script>

</head>
<body ng-app="Newman">
  <navbar ng-if="location.path() !== '/' && location.path() !== '/signup'"></navbar>
  <sidebar ng-if="location.path() !== '/' && location.path() !== '/signup'" class="col-xs-2"></sidebar>
  <div class="main" ng-class="{'col-xs-10': location.path() !== '/' && location.path() !== '/signup', 'gradientbackground': location.path() === '/' || location.path() === '/signup'}"ui-view></div>
  <script>
  window.$ = window.jQuery = require('./bower_components/jquery/dist/jquery.js');
  </script>
</body>
</html>
